# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


title: "獣医志Scopius"
description: "獣医情報Wiki"

email: geshtalt@aol.jp
description: "獣医療の知識、臨床メモ、学習ノート、現場で役立つ実践的な情報を体系的にまとめた獣医志Wiki。学生から現役獣医師まで、学びと成長を支えるオープンな知識ベースです。"
baseurl: "/vet-scopius" # リポジトリ名
url: "https://geshpoyo.github.io" # GitHub Pages のベースURL

twitter_username: gesh_talt
github_username: geshpoyo

# Build settings
theme: just-the-docs
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/



# サイドバー設定
just_the_docs:
  logo: "/assets/logo.png" # ロゴ画像（任意）
  aux_links:
    "GitHub":
      - "//github.com/geshpoyo/vet-scopius"

navigation:
    - title: "ホーム"
      url: /
    - title: "犬の疾患"
      url: /dogs/
    - title: "猫の疾患"
      url: /cats/

